In [1]:
# Sample Data Run
from path import Path
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [2]:
data1 = Path('Resources/Presidential_96_2020.csv')
df1 = pd.read_csv(data1)
df1.head()

,year,state,DEMOCRAT_VOTES,LIBERTARIAN_VOTES,OTHER_VOTES,REPUBLICAN_VOTES,Winning_Party
0,1996,ALABAMA,662165,5290.0,97850.0,769044,REPUBLICAN
1,1996,ALASKA,80380,2276.0,36218.0,122746,REPUBLICAN
2,1996,ARIZONA,653288,14358.0,114686.0,622073,DEMOCRAT
3,1996,ARKANSAS,475171,3076.0,80599.0,325416,DEMOCRAT
4,1996,CALIFORNIA,5119835,73600.0,997653.0,3828381,DEMOCRAT

In [3]:
df1['Outcome'] = np.where(df1['Winning_Party']=='REPUBLICAN', 1, 0)
df1

,year,state,DEMOCRAT_VOTES,LIBERTARIAN_VOTES,OTHER_VOTES,REPUBLICAN_VOTES,Winning_Party,Outcome
0,1996,ALABAMA,662165,5290.0,97850.0,769044,REPUBLICAN,1
1,1996,ALASKA,80380,2276.0,36218.0,122746,REPUBLICAN,1
2,1996,ARIZONA,653288,14358.0,114686.0,622073,DEMOCRAT,0
3,1996,ARKANSAS,475171,3076.0,80599.0,325416,DEMOCRAT,0
4,1996,CALIFORNIA,5119835,73600.0,997653.0,3828381,DEMOCRAT,0
...,...,...,...,...,...,...,...,...
352,2020,VIRGINIA,2413568,64761.0,19765.0,1962430,DEMOCRAT,0
353,2020,WASHINGTON,2369612,80500.0,52868.0,1584651,DEMOCRAT,0
354,2020,WEST VIRGINIA,235984,10687.0,2599.0,545382,REPUBLICAN,1
355,2020,WISCONSIN,1630866,NaN,56991.0,1610184,DEMOCRAT,0
356,2020,WYOMING,73491,5768.0,5685.0,193559,REPUBLICAN,1

In [4]:
df1 = df1[df1.year >= 2000]
df1

,year,state,DEMOCRAT_VOTES,LIBERTARIAN_VOTES,OTHER_VOTES,REPUBLICAN_VOTES,Winning_Party,Outcome
51,2000,ALABAMA,692611,5893.0,26595.0,941173,REPUBLICAN,1
52,2000,ALASKA,79004,2636.0,36522.0,167398,REPUBLICAN,1
53,2000,ARIZONA,685341,5775.0,59248.0,781652,REPUBLICAN,1
54,2000,ARKANSAS,422768,2781.0,23292.0,472940,REPUBLICAN,1
55,2000,CALIFORNIA,5861203,45520.0,491670.0,4567429,DEMOCRAT,0
...,...,...,...,...,...,...,...,...
352,2020,VIRGINIA,2413568,64761.0,19765.0,1962430,DEMOCRAT,0
353,2020,WASHINGTON,2369612,80500.0,52868.0,1584651,DEMOCRAT,0
354,2020,WEST VIRGINIA,235984,10687.0,2599.0,545382,REPUBLICAN,1
355,2020,WISCONSIN,1630866,NaN,56991.0,1610184,DEMOCRAT,0
356,2020,WYOMING,73491,5768.0,5685.0,193559,REPUBLICAN,1

In [5]:
df1 = df1.rename(columns=str.upper)
df1

,YEAR,STATE,DEMOCRAT_VOTES,LIBERTARIAN_VOTES,OTHER_VOTES,REPUBLICAN_VOTES,WINNING_PARTY,OUTCOME
51,2000,ALABAMA,692611,5893.0,26595.0,941173,REPUBLICAN,1
52,2000,ALASKA,79004,2636.0,36522.0,167398,REPUBLICAN,1
53,2000,ARIZONA,685341,5775.0,59248.0,781652,REPUBLICAN,1
54,2000,ARKANSAS,422768,2781.0,23292.0,472940,REPUBLICAN,1
55,2000,CALIFORNIA,5861203,45520.0,491670.0,4567429,DEMOCRAT,0
...,...,...,...,...,...,...,...,...
352,2020,VIRGINIA,2413568,64761.0,19765.0,1962430,DEMOCRAT,0
353,2020,WASHINGTON,2369612,80500.0,52868.0,1584651,DEMOCRAT,0
354,2020,WEST VIRGINIA,235984,10687.0,2599.0,545382,REPUBLICAN,1
355,2020,WISCONSIN,1630866,NaN,56991.0,1610184,DEMOCRAT,0
356,2020,WYOMING,73491,5768.0,5685.0,193559,REPUBLICAN,1

In [6]:
df1_final = df1[['YEAR','STATE','OUTCOME']]
df1_final

     YEAR          STATE  OUTCOME
51   2000        ALABAMA        1
52   2000         ALASKA        1
53   2000        ARIZONA        1
54   2000       ARKANSAS        1
55   2000     CALIFORNIA        0
..    ...            ...      ...
352  2020       VIRGINIA        0
353  2020     WASHINGTON        0
354  2020  WEST VIRGINIA        1
355  2020      WISCONSIN        0
356  2020        WYOMING        1

[306 rows x 3 columns]

In [7]:
data2 = Path('Resources/CENSUS_00_19.csv')
df2 = pd.read_csv(data2)
df2['STATE_NAME'] = df2['STATE_NAME'].str.upper()
df2

,YEAR,STATE_NAME,STATE_NUMBER,REGION,DIVISION,TOTAL_POPULATION,RACE_WHITE,RACE_BLACK,RACE_OTHER,AGE_0_TO_19,AGE_20_TO_39,AGE_40_TO_59,AGE_60_TO_79,AGE_80_AND_OVER,ORIGIN_HISPANIC,ORIGIN_NOT_HISPANIC,SEX_FEMALE,SEX_MALE
0,2000,ALABAMA,1,South,East South Central,4447207,3195561,1158988,92658,1256218,1250228,1170854,624964,144943,75821,4371386,2300647,2146560
1,2000,ALASKA,2,West,Pacific,626933,446431,22909,157593,208114,185095,180695,46700,6329,25852,601081,302821,324112
2,2000,ARIZONA,4,West,Mountain,5130247,4518143,168952,443152,1518175,1498202,1242614,711472,159784,1295616,3834631,2569382,2560865
3,2000,ARKANSAS,5,South,West South Central,2673293,2183097,420516,69680,760477,734755,686669,392228,99164,86862,2586431,1368647,1304646
4,2000,CALIFORNIA,6,West,Pacific,33871653,26365296,2381132,5125225,10234576,10425088,8469482,3814015,928492,10966547,22905106,16996778,16874875
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1015,2019,VIRGINIA,51,South,South Atlantic,8535519,5922648,1696911,915960,2087426,2343713,2215430,1579134,309816,834422,7701097,4335262,4200257
1016,2019,WASHINGTON,53,West,Pacific,7614893,5977696,331924,1305273,1840306,2203448,1890236,1417638,263265,991721,6623172,3802910,3811983
1017,2019,WEST VIRGINIA,54,South,South Atlantic,1792147,1675122,64610,52415,402473,431297,461667,412728,83982,31162,1760985,904377,887770
1018,2019,WISCONSIN,55,Midwest,East North Central,5822434,5067781,390543,364110,1422095,1505295,1477023,1170814,247207,413208,5409226,2925225,2897209
1019,2019,WYOMING,56,West,Mountain,578759,535371,7467,35921,148172,154264,136658,118025,21640,58609,520150,284029,294730

In [8]:
df2['PCT_WHITE'] = df2.RACE_WHITE / df2.TOTAL_POPULATION
df2['PCT_BLACK'] = df2.RACE_BLACK / df2.TOTAL_POPULATION
df2['PCT_HISPANIC'] = df2.ORIGIN_HISPANIC / df2.TOTAL_POPULATION
df2['PCT_OVER_60'] = (df2.AGE_60_TO_79 + df2.AGE_80_AND_OVER) / df2.TOTAL_POPULATION
df2['PCT_UNDER_40'] = (df2.AGE_0_TO_19 + df2.AGE_20_TO_39) / df2.TOTAL_POPULATION

df2

,YEAR,STATE_NAME,STATE_NUMBER,REGION,DIVISION,TOTAL_POPULATION,RACE_WHITE,RACE_BLACK,RACE_OTHER,AGE_0_TO_19,...,AGE_80_AND_OVER,ORIGIN_HISPANIC,ORIGIN_NOT_HISPANIC,SEX_FEMALE,SEX_MALE,PCT_WHITE,PCT_BLACK,PCT_HISPANIC,PCT_OVER_60,PCT_UNDER_40
0,2000,ALABAMA,1,South,East South Central,4447207,3195561,1158988,92658,1256218,...,144943,75821,4371386,2300647,2146560,0.718555,0.260610,0.017049,0.173121,0.563600
1,2000,ALASKA,2,West,Pacific,626933,446431,22909,157593,208114,...,6329,25852,601081,302821,324112,0.712087,0.036541,0.041236,0.084585,0.627195
2,2000,ARIZONA,4,West,Mountain,5130247,4518143,168952,443152,1518175,...,159784,1295616,3834631,2569382,2560865,0.880687,0.032933,0.252545,0.169827,0.587959
3,2000,ARKANSAS,5,South,West South Central,2673293,2183097,420516,69680,760477,...,99164,86862,2586431,1368647,1304646,0.816632,0.157303,0.032493,0.183815,0.559322
4,2000,CALIFORNIA,6,West,Pacific,33871653,26365296,2381132,5125225,10234576,...,928492,10966547,22905106,16996778,16874875,0.778388,0.070299,0.323768,0.140014,0.609940
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1015,2019,VIRGINIA,51,South,South Atlantic,8535519,5922648,1696911,915960,2087426,...,309816,834422,7701097,4335262,4200257,0.693883,0.198806,0.097759,0.221305,0.519141
1016,2019,WASHINGTON,53,West,Pacific,7614893,5977696,331924,1305273,1840306,...,263265,991721,6623172,3802910,3811983,0.785001,0.043589,0.130234,0.220739,0.531032
1017,2019,WEST VIRGINIA,54,South,South Atlantic,1792147,1675122,64610,52415,402473,...,83982,31162,1760985,904377,887770,0.934701,0.036052,0.017388,0.277159,0.465235
1018,2019,WISCONSIN,55,Midwest,East North Central,5822434,5067781,390543,364110,1422095,...,247207,413208,5409226,2925225,2897209,0.870389,0.067076,0.070968,0.243544,0.502778
1019,2019,WYOMING,56,West,Mountain,578759,535371,7467,35921,148172,...,21640,58609,520150,284029,294730,0.925033,0.012902,0.101267,0.241318,0.522559

In [9]:
df2.loc[df2['YEAR'] == 2019, 'YEAR'] = 2020
df2

,YEAR,STATE_NAME,STATE_NUMBER,REGION,DIVISION,TOTAL_POPULATION,RACE_WHITE,RACE_BLACK,RACE_OTHER,AGE_0_TO_19,...,AGE_80_AND_OVER,ORIGIN_HISPANIC,ORIGIN_NOT_HISPANIC,SEX_FEMALE,SEX_MALE,PCT_WHITE,PCT_BLACK,PCT_HISPANIC,PCT_OVER_60,PCT_UNDER_40
0,2000,ALABAMA,1,South,East South Central,4447207,3195561,1158988,92658,1256218,...,144943,75821,4371386,2300647,2146560,0.718555,0.260610,0.017049,0.173121,0.563600
1,2000,ALASKA,2,West,Pacific,626933,446431,22909,157593,208114,...,6329,25852,601081,302821,324112,0.712087,0.036541,0.041236,0.084585,0.627195
2,2000,ARIZONA,4,West,Mountain,5130247,4518143,168952,443152,1518175,...,159784,1295616,3834631,2569382,2560865,0.880687,0.032933,0.252545,0.169827,0.587959
3,2000,ARKANSAS,5,South,West South Central,2673293,2183097,420516,69680,760477,...,99164,86862,2586431,1368647,1304646,0.816632,0.157303,0.032493,0.183815,0.559322
4,2000,CALIFORNIA,6,West,Pacific,33871653,26365296,2381132,5125225,10234576,...,928492,10966547,22905106,16996778,16874875,0.778388,0.070299,0.323768,0.140014,0.609940
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1015,2020,VIRGINIA,51,South,South Atlantic,8535519,5922648,1696911,915960,2087426,...,309816,834422,7701097,4335262,4200257,0.693883,0.198806,0.097759,0.221305,0.519141
1016,2020,WASHINGTON,53,West,Pacific,7614893,5977696,331924,1305273,1840306,...,263265,991721,6623172,3802910,3811983,0.785001,0.043589,0.130234,0.220739,0.531032
1017,2020,WEST VIRGINIA,54,South,South Atlantic,1792147,1675122,64610,52415,402473,...,83982,31162,1760985,904377,887770,0.934701,0.036052,0.017388,0.277159,0.465235
1018,2020,WISCONSIN,55,Midwest,East North Central,5822434,5067781,390543,364110,1422095,...,247207,413208,5409226,2925225,2897209,0.870389,0.067076,0.070968,0.243544,0.502778
1019,2020,WYOMING,56,West,Mountain,578759,535371,7467,35921,148172,...,21640,58609,520150,284029,294730,0.925033,0.012902,0.101267,0.241318,0.522559

In [10]:
df2_final = df2[['YEAR','STATE_NAME','REGION','PCT_WHITE','PCT_BLACK','PCT_HISPANIC','PCT_OVER_60','PCT_UNDER_40']]
df2_final

,YEAR,STATE_NAME,REGION,PCT_WHITE,PCT_BLACK,PCT_HISPANIC,PCT_OVER_60,PCT_UNDER_40
0,2000,ALABAMA,South,0.718555,0.260610,0.017049,0.173121,0.563600
1,2000,ALASKA,West,0.712087,0.036541,0.041236,0.084585,0.627195
2,2000,ARIZONA,West,0.880687,0.032933,0.252545,0.169827,0.587959
3,2000,ARKANSAS,South,0.816632,0.157303,0.032493,0.183815,0.559322
4,2000,CALIFORNIA,West,0.778388,0.070299,0.323768,0.140014,0.609940
...,...,...,...,...,...,...,...,...
1015,2020,VIRGINIA,South,0.693883,0.198806,0.097759,0.221305,0.519141
1016,2020,WASHINGTON,West,0.785001,0.043589,0.130234,0.220739,0.531032
1017,2020,WEST VIRGINIA,South,0.934701,0.036052,0.017388,0.277159,0.465235
1018,2020,WISCONSIN,Midwest,0.870389,0.067076,0.070968,0.243544,0.502778
1019,2020,WYOMING,West,0.925033,0.012902,0.101267,0.241318,0.522559

In [11]:
df2_final2 = pd.get_dummies(data=df2_final, columns=['REGION'])
df2_final2

,YEAR,STATE_NAME,PCT_WHITE,PCT_BLACK,PCT_HISPANIC,PCT_OVER_60,PCT_UNDER_40,REGION_Midwest,REGION_Northeast,REGION_South,REGION_West
0,2000,ALABAMA,0.718555,0.260610,0.017049,0.173121,0.563600,0,0,1,0
1,2000,ALASKA,0.712087,0.036541,0.041236,0.084585,0.627195,0,0,0,1
2,2000,ARIZONA,0.880687,0.032933,0.252545,0.169827,0.587959,0,0,0,1
3,2000,ARKANSAS,0.816632,0.157303,0.032493,0.183815,0.559322,0,0,1,0
4,2000,CALIFORNIA,0.778388,0.070299,0.323768,0.140014,0.609940,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
1015,2020,VIRGINIA,0.693883,0.198806,0.097759,0.221305,0.519141,0,0,1,0
1016,2020,WASHINGTON,0.785001,0.043589,0.130234,0.220739,0.531032,0,0,0,1
1017,2020,WEST VIRGINIA,0.934701,0.036052,0.017388,0.277159,0.465235,0,0,1,0
1018,2020,WISCONSIN,0.870389,0.067076,0.070968,0.243544,0.502778,1,0,0,0
1019,2020,WYOMING,0.925033,0.012902,0.101267,0.241318,0.522559,0,0,0,1

In [12]:
merged_df = pd.merge(df1_final, df2_final2, how='inner', left_on=['YEAR','STATE'], right_on = ['YEAR','STATE_NAME'])
merged_df

,YEAR,STATE,OUTCOME,STATE_NAME,PCT_WHITE,PCT_BLACK,PCT_HISPANIC,PCT_OVER_60,PCT_UNDER_40,REGION_Midwest,REGION_Northeast,REGION_South,REGION_West
0,2000,ALABAMA,1,ALABAMA,0.718555,0.260610,0.017049,0.173121,0.563600,0,0,1,0
1,2000,ALASKA,1,ALASKA,0.712087,0.036541,0.041236,0.084585,0.627195,0,0,0,1
2,2000,ARIZONA,1,ARIZONA,0.880687,0.032933,0.252545,0.169827,0.587959,0,0,0,1
3,2000,ARKANSAS,1,ARKANSAS,0.816632,0.157303,0.032493,0.183815,0.559322,0,0,1,0
4,2000,CALIFORNIA,0,CALIFORNIA,0.778388,0.070299,0.323768,0.140014,0.609940,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,2020,VIRGINIA,0,VIRGINIA,0.693883,0.198806,0.097759,0.221305,0.519141,0,0,1,0
302,2020,WASHINGTON,0,WASHINGTON,0.785001,0.043589,0.130234,0.220739,0.531032,0,0,0,1
303,2020,WEST VIRGINIA,1,WEST VIRGINIA,0.934701,0.036052,0.017388,0.277159,0.465235,0,0,1,0
304,2020,WISCONSIN,0,WISCONSIN,0.870389,0.067076,0.070968,0.243544,0.502778,1,0,0,0
305,2020,WYOMING,1,WYOMING,0.925033,0.012902,0.101267,0.241318,0.522559,0,0,0,1

In [13]:
data3 = Path('Resources/PAST_5_ELECTION_VOTING.csv')
df3 = pd.read_csv(data3)

df3

,YEAR,STATE,state_po,state_fips,state_cen,state_ic,office,candidate,party_detailed,writein,candidatevotes,totalvotes,version,notes,party_simplified,Outcome,PAST_5_ELECTION_VOTING
0,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"CARTER, JIMMY",DEMOCRAT,False,659170,1182850,20210113,NaN,DEMOCRAT,0,0.0
1,1980,ALABAMA,AL,1,63,41,US PRESIDENT,"REAGAN, RONALD",REPUBLICAN,False,654192,1341929,20210113,NaN,REPUBLICAN,1,0.0
2,1984,ALABAMA,AL,1,63,41,US PRESIDENT,"REAGAN, RONALD",REPUBLICAN,False,872849,1441713,20210113,NaN,REPUBLICAN,1,0.0
3,1988,ALABAMA,AL,1,63,41,US PRESIDENT,"BUSH, GEORGE H.W.",REPUBLICAN,False,815576,1378476,20210113,NaN,REPUBLICAN,1,0.0
4,1992,ALABAMA,AL,1,63,41,US PRESIDENT,"BUSH, GEORGE H.W.",REPUBLICAN,False,804283,1688060,20210113,NaN,REPUBLICAN,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
607,2004,WYOMING,WY,56,83,68,US PRESIDENT,"BUSH, GEORGE W.",REPUBLICAN,False,167629,243861,20210113,NaN,REPUBLICAN,1,1.0
608,2008,WYOMING,WY,56,83,68,US PRESIDENT,"MCCAIN, JOHN",REPUBLICAN,False,164958,254904,20210113,NaN,REPUBLICAN,1,1.0
609,2012,WYOMING,WY,56,83,68,US PRESIDENT,"ROMNEY, MITT",REPUBLICAN,False,170962,250701,20210113,NaN,REPUBLICAN,1,1.0
610,2016,WYOMING,WY,56,83,68,US PRESIDENT,"TRUMP, DONALD J.",REPUBLICAN,False,174419,258788,20210113,NaN,REPUBLICAN,1,1.0
611,2020,WYOMING,WY,56,83,68,US PRESIDENT,"TRUMP, DONALD J.",REPUBLICAN,False,193559,278503,20210113,NaN,REPUBLICAN,1,1.0

In [14]:
df3 = df3[df3.YEAR >= 2000]
df3

,YEAR,STATE,state_po,state_fips,state_cen,state_ic,office,candidate,party_detailed,writein,candidatevotes,totalvotes,version,notes,party_simplified,Outcome,PAST_5_ELECTION_VOTING
6,2000,ALABAMA,AL,1,63,41,US PRESIDENT,"BUSH, GEORGE W.",REPUBLICAN,False,941173,1666272,20210113,NaN,REPUBLICAN,1,1.0
7,2004,ALABAMA,AL,1,63,41,US PRESIDENT,"BUSH, GEORGE W.",REPUBLICAN,False,1176394,1883415,20210113,NaN,REPUBLICAN,1,1.0
8,2008,ALABAMA,AL,1,63,41,US PRESIDENT,"MCCAIN, JOHN",REPUBLICAN,False,1266546,2099819,20210113,NaN,REPUBLICAN,1,1.0
9,2012,ALABAMA,AL,1,63,41,US PRESIDENT,"ROMNEY, MITT",REPUBLICAN,False,1255925,2074338,20210113,NaN,REPUBLICAN,1,1.0
10,2016,ALABAMA,AL,1,63,41,US PRESIDENT,"TRUMP, DONALD J.",REPUBLICAN,False,1318255,2123372,20210113,NaN,REPUBLICAN,1,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
607,2004,WYOMING,WY,56,83,68,US PRESIDENT,"BUSH, GEORGE W.",REPUBLICAN,False,167629,243861,20210113,NaN,REPUBLICAN,1,1.0
608,2008,WYOMING,WY,56,83,68,US PRESIDENT,"MCCAIN, JOHN",REPUBLICAN,False,164958,254904,20210113,NaN,REPUBLICAN,1,1.0
609,2012,WYOMING,WY,56,83,68,US PRESIDENT,"ROMNEY, MITT",REPUBLICAN,False,170962,250701,20210113,NaN,REPUBLICAN,1,1.0
610,2016,WYOMING,WY,56,83,68,US PRESIDENT,"TRUMP, DONALD J.",REPUBLICAN,False,174419,258788,20210113,NaN,REPUBLICAN,1,1.0
611,2020,WYOMING,WY,56,83,68,US PRESIDENT,"TRUMP, DONALD J.",REPUBLICAN,False,193559,278503,20210113,NaN,REPUBLICAN,1,1.0

In [15]:
df3_final = df3[['YEAR','STATE','PAST_5_ELECTION_VOTING']]

In [16]:
merged_df = pd.merge(merged_df, df3_final, how='inner', left_on=['YEAR','STATE'], right_on = ['YEAR','STATE'])
merged_df

,YEAR,STATE,OUTCOME,STATE_NAME,PCT_WHITE,PCT_BLACK,PCT_HISPANIC,PCT_OVER_60,PCT_UNDER_40,REGION_Midwest,REGION_Northeast,REGION_South,REGION_West,PAST_5_ELECTION_VOTING
0,2000,ALABAMA,1,ALABAMA,0.718555,0.260610,0.017049,0.173121,0.563600,0,0,1,0,1.0
1,2000,ALASKA,1,ALASKA,0.712087,0.036541,0.041236,0.084585,0.627195,0,0,0,1,1.0
2,2000,ARIZONA,1,ARIZONA,0.880687,0.032933,0.252545,0.169827,0.587959,0,0,0,1,0.8
3,2000,ARKANSAS,1,ARKANSAS,0.816632,0.157303,0.032493,0.183815,0.559322,0,0,1,0,0.6
4,2000,CALIFORNIA,0,CALIFORNIA,0.778388,0.070299,0.323768,0.140014,0.609940,0,0,0,1,0.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,2020,VIRGINIA,0,VIRGINIA,0.693883,0.198806,0.097759,0.221305,0.519141,0,0,1,0,0.4
302,2020,WASHINGTON,0,WASHINGTON,0.785001,0.043589,0.130234,0.220739,0.531032,0,0,0,1,0.0
303,2020,WEST VIRGINIA,1,WEST VIRGINIA,0.934701,0.036052,0.017388,0.277159,0.465235,0,0,1,0,1.0
304,2020,WISCONSIN,0,WISCONSIN,0.870389,0.067076,0.070968,0.243544,0.502778,1,0,0,0,0.2
305,2020,WYOMING,1,WYOMING,0.925033,0.012902,0.101267,0.241318,0.522559,0,0,0,1,1.0

In [17]:
y = merged_df['OUTCOME']
X = merged_df.drop(columns=['YEAR','STATE','STATE_NAME','OUTCOME'])
X

,PCT_WHITE,PCT_BLACK,PCT_HISPANIC,PCT_OVER_60,PCT_UNDER_40,REGION_Midwest,REGION_Northeast,REGION_South,REGION_West,PAST_5_ELECTION_VOTING
0,0.718555,0.260610,0.017049,0.173121,0.563600,0,0,1,0,1.0
1,0.712087,0.036541,0.041236,0.084585,0.627195,0,0,0,1,1.0
2,0.880687,0.032933,0.252545,0.169827,0.587959,0,0,0,1,0.8
3,0.816632,0.157303,0.032493,0.183815,0.559322,0,0,1,0,0.6
4,0.778388,0.070299,0.323768,0.140014,0.609940,0,0,0,1,0.6
...,...,...,...,...,...,...,...,...,...,...
301,0.693883,0.198806,0.097759,0.221305,0.519141,0,0,1,0,0.4
302,0.785001,0.043589,0.130234,0.220739,0.531032,0,0,0,1,0.0
303,0.934701,0.036052,0.017388,0.277159,0.465235,0,0,1,0,1.0
304,0.870389,0.067076,0.070968,0.243544,0.502778,1,0,0,0,0.2
305,0.925033,0.012902,0.101267,0.241318,0.522559,0,0,0,1,1.0

In [18]:
logreg = LogisticRegression()
logreg.fit(X, y)
log_odds = logreg.coef_[0]

In [19]:
pd.DataFrame(log_odds, 
             X.columns, 
             columns=['coef'])\
            .sort_values(by='coef', ascending=False)

                            coef
PAST_5_ELECTION_VOTING  4.410437
PCT_WHITE               1.246276
REGION_South            0.983182
REGION_Midwest          0.543736
PCT_OVER_60             0.153439
PCT_UNDER_40            0.050803
REGION_West            -0.039821
PCT_BLACK              -0.721680
PCT_HISPANIC           -1.023672
REGION_Northeast       -1.487397

In [19]:
merged_df_2000 = merged_df[merged_df.YEAR == 2000]
merged_df_2004 = merged_df[merged_df.YEAR == 2004]
merged_df_2008 = merged_df[merged_df.YEAR == 2008]
merged_df_2012 = merged_df[merged_df.YEAR == 2012]
merged_df_2016 = merged_df[merged_df.YEAR == 2016]
merged_df_2020 = merged_df[merged_df.YEAR == 2020]

In [20]:
y_2000 = merged_df_2000['OUTCOME']
X_2000 = merged_df_2000.drop(columns=['YEAR','STATE','STATE_NAME','OUTCOME'])
y_2004 = merged_df_2004['OUTCOME']
X_2004 = merged_df_2004.drop(columns=['YEAR','STATE','STATE_NAME','OUTCOME'])
y_2008 = merged_df_2008['OUTCOME']
X_2008 = merged_df_2008.drop(columns=['YEAR','STATE','STATE_NAME','OUTCOME'])
y_2012 = merged_df_2012['OUTCOME']
X_2012 = merged_df_2012.drop(columns=['YEAR','STATE','STATE_NAME','OUTCOME'])
y_2016 = merged_df_2016['OUTCOME']
X_2016 = merged_df_2016.drop(columns=['YEAR','STATE','STATE_NAME','OUTCOME'])
y_2020 = merged_df_2020['OUTCOME']
X_2020 = merged_df_2020.drop(columns=['YEAR','STATE','STATE_NAME','OUTCOME'])

In [50]:
# Declare year lists to be converted into columns
y2000 = [2000, 2000, 2000, 2000, 2000, 2000, 2000, 2000, 2000, 2000]
y2004 = [2004, 2004, 2004, 2004, 2004, 2004, 2004, 2004, 2004, 2004]
y2008 = [2008, 2008, 2008, 2008, 2008, 2008, 2008, 2008, 2008, 2008]
y2012 = [2012, 2012, 2012, 2012, 2012, 2012, 2012, 2012, 2012, 2012]
y2016 = [2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016]
y2020 = [2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020, 2020]

In [48]:
logreg = LogisticRegression()
logreg.fit(X_2000, y_2000)
log_odds = logreg.coef_[0]
coef2000_df = pd.DataFrame(log_odds, 
             X_2000.columns, 
             columns=['coef'])\
            .sort_values(by='coef', ascending=False)

In [49]:
# Use 'Year' as the column name and equate it to the corresponding year list
coef2000_df['Year'] = y2000
coef2000_df.reset_index(inplace=True)
coef2000_df

                    index      coef  Year
0  PAST_5_ELECTION_VOTING  2.332952  2000
1            REGION_South  1.002583  2000
2               PCT_WHITE  0.492751  2000
3             REGION_West  0.106906  2000
4            PCT_UNDER_40  0.042400  2000
5          REGION_Midwest  0.007397  2000
6             PCT_OVER_60 -0.021262  2000
7               PCT_BLACK -0.224165  2000
8            PCT_HISPANIC -0.301098  2000
9        REGION_Northeast -1.116919  2000

In [45]:
coef2000_df.pivot(index='Year', columns='index', values = 'coef')

index,PAST_5_ELECTION_VOTING,PCT_BLACK,PCT_HISPANIC,PCT_OVER_60,PCT_UNDER_40,PCT_WHITE,REGION_Midwest,REGION_Northeast,REGION_South,REGION_West
Year,,,,,,,,,,
2000,2.332952,-0.224165,-0.301098,-0.021262,0.0424,0.492751,0.007397,-1.116919,1.002583,0.106906

In [51]:
logreg = LogisticRegression()
logreg.fit(X_2004, y_2004)
log_odds = logreg.coef_[0]
coef2004_df = pd.DataFrame(log_odds, 
             X_2004.columns, 
             columns=['coef'])\
            .sort_values(by='coef', ascending=False)

In [52]:
# Use 'Year' as the column name and equate it to the corresponding year list
coef2004_df['Year'] = y2004
coef2004_df.reset_index(inplace=True)
coef2004_df

                    index      coef  Year
0  PAST_5_ELECTION_VOTING  2.556091  2004
1            REGION_South  0.819419  2004
2               PCT_WHITE  0.508183  2004
3             REGION_West  0.331453  2004
4          REGION_Midwest  0.289099  2004
5            PCT_HISPANIC  0.034979  2004
6            PCT_UNDER_40  0.033562  2004
7             PCT_OVER_60  0.016982  2004
8               PCT_BLACK -0.224362  2004
9        REGION_Northeast -1.439957  2004

In [53]:
logreg = LogisticRegression()
logreg.fit(X_2008, y_2008)
log_odds = logreg.coef_[0]
coef2008_df = pd.DataFrame(log_odds, 
             X_2008.columns, 
             columns=['coef'])\
            .sort_values(by='coef', ascending=False)

In [54]:
# Use 'Year' as the column name and equate it to the corresponding year list
coef2008_df['Year'] = y2008
coef2008_df.reset_index(inplace=True)
coef2008_df

                    index      coef  Year
0  PAST_5_ELECTION_VOTING  2.267634  2008
1            REGION_South  0.695400  2008
2               PCT_WHITE  0.331357  2008
3             REGION_West  0.171941  2008
4            PCT_UNDER_40  0.093522  2008
5          REGION_Midwest  0.012053  2008
6             PCT_OVER_60 -0.021674  2008
7               PCT_BLACK -0.202003  2008
8            PCT_HISPANIC -0.396420  2008
9        REGION_Northeast -0.879461  2008

In [55]:
logreg = LogisticRegression()
logreg.fit(X_2012, y_2012)
log_odds = logreg.coef_[0]
coef2012_df = pd.DataFrame(log_odds, 
             X_2012.columns, 
             columns=['coef'])\
            .sort_values(by='coef', ascending=False)

In [56]:
# Use 'Year' as the column name and equate it to the corresponding year list
coef2012_df['Year'] = y2012
coef2012_df.reset_index(inplace=True)
coef2012_df

                    index      coef  Year
0  PAST_5_ELECTION_VOTING  3.001114  2012
1            REGION_South  0.636144  2012
2               PCT_WHITE  0.242697  2012
3          REGION_Midwest  0.145687  2012
4            PCT_UNDER_40  0.098085  2012
5             REGION_West -0.031833  2012
6             PCT_OVER_60 -0.033413  2012
7               PCT_BLACK -0.094692  2012
8            PCT_HISPANIC -0.342484  2012
9        REGION_Northeast -0.750000  2012

In [57]:
logreg = LogisticRegression()
logreg.fit(X_2016, y_2016)
log_odds = logreg.coef_[0]
coef2016_df = pd.DataFrame(log_odds, 
             X_2016.columns, 
             columns=['coef'])\
            .sort_values(by='coef', ascending=False)

In [58]:
# Use 'Year' as the column name and equate it to the corresponding year list
coef2016_df['Year'] = y2016
coef2016_df.reset_index(inplace=True)
coef2016_df

                    index      coef  Year
0  PAST_5_ELECTION_VOTING  2.591122  2016
1          REGION_Midwest  0.920225  2016
2               PCT_WHITE  0.374290  2016
3            REGION_South  0.326179  2016
4             PCT_OVER_60  0.040793  2016
5            PCT_UNDER_40  0.009542  2016
6               PCT_BLACK -0.106076  2016
7            PCT_HISPANIC -0.329570  2016
8             REGION_West -0.539278  2016
9        REGION_Northeast -0.707124  2016

In [59]:
logreg = LogisticRegression()
logreg.fit(X_2020, y_2020)
log_odds = logreg.coef_[0]
coef2020_df = pd.DataFrame(log_odds, 
             X_2020.columns, 
             columns=['coef'])\
            .sort_values(by='coef', ascending=False)

In [60]:
# Use 'Year' as the column name and equate it to the corresponding year list
coef2020_df['Year'] = y2020
coef2020_df.reset_index(inplace=True)
coef2020_df

                    index      coef  Year
0  PAST_5_ELECTION_VOTING  2.864787  2020
1          REGION_Midwest  0.598491  2020
2            REGION_South  0.500321  2020
3               PCT_WHITE  0.381050  2020
4            PCT_UNDER_40  0.044009  2020
5             PCT_OVER_60  0.008712  2020
6               PCT_BLACK -0.226731  2020
7             REGION_West -0.319686  2020
8            PCT_HISPANIC -0.335935  2020
9        REGION_Northeast -0.779061  2020

In [65]:
# Append all coefficient DFs into 1
coef_all_df = coef2000_df.append(coef2004_df,ignore_index=True)
coef_all_df = coef_all_df.append(coef2008_df,ignore_index=True)
coef_all_df = coef_all_df.append(coef2012_df,ignore_index=True)
coef_all_df = coef_all_df.append(coef2016_df,ignore_index=True)
coef_all_df = coef_all_df.append(coef2020_df,ignore_index=True)
coef_all_df

                     index      coef  Year
0   PAST_5_ELECTION_VOTING  2.332952  2000
1             REGION_South  1.002583  2000
2                PCT_WHITE  0.492751  2000
3              REGION_West  0.106906  2000
4             PCT_UNDER_40  0.042400  2000
5           REGION_Midwest  0.007397  2000
6              PCT_OVER_60 -0.021262  2000
7                PCT_BLACK -0.224165  2000
8             PCT_HISPANIC -0.301098  2000
9         REGION_Northeast -1.116919  2000
10  PAST_5_ELECTION_VOTING  2.556091  2004
11            REGION_South  0.819419  2004
12               PCT_WHITE  0.508183  2004
13             REGION_West  0.331453  2004
14          REGION_Midwest  0.289099  2004
15            PCT_HISPANIC  0.034979  2004
16            PCT_UNDER_40  0.033562  2004
17             PCT_OVER_60  0.016982  2004
18               PCT_BLACK -0.224362  2004
19        REGION_Northeast -1.439957  2004
20  PAST_5_ELECTION_VOTING  2.267634  2008
21            REGION_South  0.695400  2008
22               PCT_WHITE  0.331357  2008
23             REGION_West  0.171941  2008
24            PCT_UNDER_40  0.093522  2008
25          REGION_Midwest  0.012053  2008
26             PCT_OVER_60 -0.021674  2008
27               PCT_BLACK -0.202003  2008
28            PCT_HISPANIC -0.396420  2008
29        REGION_Northeast -0.879461  2008
30  PAST_5_ELECTION_VOTING  3.001114  2012
31            REGION_South  0.636144  2012
32               PCT_WHITE  0.242697  2012
33          REGION_Midwest  0.145687  2012
34            PCT_UNDER_40  0.098085  2012
35             REGION_West -0.031833  2012
36             PCT_OVER_60 -0.033413  2012
37               PCT_BLACK -0.094692  2012
38            PCT_HISPANIC -0.342484  2012
39        REGION_Northeast -0.750000  2012
40  PAST_5_ELECTION_VOTING  2.591122  2016
41          REGION_Midwest  0.920225  2016
42               PCT_WHITE  0.374290  2016
43            REGION_South  0.326179  2016
44             PCT_OVER_60  0.040793  2016
45            PCT_UNDER_40  0.009542  2016
46               PCT_BLACK -0.106076  2016
47            PCT_HISPANIC -0.329570  2016
48             REGION_West -0.539278  2016
49        REGION_Northeast -0.707124  2016
50  PAST_5_ELECTION_VOTING  2.864787  2020
51          REGION_Midwest  0.598491  2020
52            REGION_South  0.500321  2020
53               PCT_WHITE  0.381050  2020
54            PCT_UNDER_40  0.044009  2020
55             PCT_OVER_60  0.008712  2020
56               PCT_BLACK -0.226731  2020
57             REGION_West -0.319686  2020
58            PCT_HISPANIC -0.335935  2020
59        REGION_Northeast -0.779061  2020

In [68]:
coef_all_df = coef_all_df.pivot(index='Year', columns='index', values = 'coef')
coef_all_df

index,PAST_5_ELECTION_VOTING,PCT_BLACK,PCT_HISPANIC,PCT_OVER_60,PCT_UNDER_40,PCT_WHITE,REGION_Midwest,REGION_Northeast,REGION_South,REGION_West
Year,,,,,,,,,,
2000,2.332952,-0.224165,-0.301098,-0.021262,0.042400,0.492751,0.007397,-1.116919,1.002583,0.106906
2004,2.556091,-0.224362,0.034979,0.016982,0.033562,0.508183,0.289099,-1.439957,0.819419,0.331453
2008,2.267634,-0.202003,-0.396420,-0.021674,0.093522,0.331357,0.012053,-0.879461,0.695400,0.171941
2012,3.001114,-0.094692,-0.342484,-0.033413,0.098085,0.242697,0.145687,-0.750000,0.636144,-0.031833
2016,2.591122,-0.106076,-0.329570,0.040793,0.009542,0.374290,0.920225,-0.707124,0.326179,-0.539278
2020,2.864787,-0.226731,-0.335935,0.008712,0.044009,0.381050,0.598491,-0.779061,0.500321,-0.319686

In [69]:
coef_all_df.to_csv('Resources/Coefficients_by_year.csv',index=False)

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1)
X_train.shape

(229, 10)

In [22]:
classifier = LogisticRegression(solver='lbfgs',
                                random_state=1)

In [23]:
classifier.fit(X_train, y_train)

LogisticRegression(random_state=1)

In [24]:
y_pred = classifier.predict(X_test)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results

    Prediction  Actual
0            0       0
1            1       0
2            0       0
3            1       1
4            1       1
..         ...     ...
72           1       1
73           1       1
74           0       0
75           1       1
76           1       1

[77 rows x 2 columns]

In [25]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.948051948051948

In [26]:
from sklearn.metrics import confusion_matrix, classification_report
matrix = confusion_matrix(y_test, y_pred)
print(matrix)

[[38  2]
 [ 2 35]]

In [27]:
report = classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

           0       0.95      0.95      0.95        40
           1       0.95      0.95      0.95        37

    accuracy                           0.95        77
   macro avg       0.95      0.95      0.95        77
weighted avg       0.95      0.95      0.95        77