In [1]:
# Sample Data Run
from path import Path
import pandas as pd
import numpy as np

In [2]:
data1 = Path('blue-team/Resources/Presidential_96_2020.csv')
df1 = pd.read_csv(data1)
df1.head()

,year,state,DEMOCRAT_VOTES,LIBERTARIAN_VOTES,OTHER_VOTES,REPUBLICAN_VOTES,Winning_Party
0,1996,ALABAMA,662165,5290.0,97850.0,769044,REPUBLICAN
1,1996,ALASKA,80380,2276.0,36218.0,122746,REPUBLICAN
2,1996,ARIZONA,653288,14358.0,114686.0,622073,DEMOCRAT
3,1996,ARKANSAS,475171,3076.0,80599.0,325416,DEMOCRAT
4,1996,CALIFORNIA,5119835,73600.0,997653.0,3828381,DEMOCRAT

In [3]:
df1['Outcome'] = np.where(df1['Winning_Party']=='REPUBLICAN', 1, 0)
df1

,year,state,DEMOCRAT_VOTES,LIBERTARIAN_VOTES,OTHER_VOTES,REPUBLICAN_VOTES,Winning_Party,Outcome
0,1996,ALABAMA,662165,5290.0,97850.0,769044,REPUBLICAN,1
1,1996,ALASKA,80380,2276.0,36218.0,122746,REPUBLICAN,1
2,1996,ARIZONA,653288,14358.0,114686.0,622073,DEMOCRAT,0
3,1996,ARKANSAS,475171,3076.0,80599.0,325416,DEMOCRAT,0
4,1996,CALIFORNIA,5119835,73600.0,997653.0,3828381,DEMOCRAT,0
...,...,...,...,...,...,...,...,...
352,2020,VIRGINIA,2413568,64761.0,19765.0,1962430,DEMOCRAT,0
353,2020,WASHINGTON,2369612,80500.0,52868.0,1584651,DEMOCRAT,0
354,2020,WEST VIRGINIA,235984,10687.0,2599.0,545382,REPUBLICAN,1
355,2020,WISCONSIN,1630866,NaN,56991.0,1610184,DEMOCRAT,0
356,2020,WYOMING,73491,5768.0,5685.0,193559,REPUBLICAN,1

In [4]:
df1 = df1[df1.year >= 2000]
df1

,year,state,DEMOCRAT_VOTES,LIBERTARIAN_VOTES,OTHER_VOTES,REPUBLICAN_VOTES,Winning_Party,Outcome
51,2000,ALABAMA,692611,5893.0,26595.0,941173,REPUBLICAN,1
52,2000,ALASKA,79004,2636.0,36522.0,167398,REPUBLICAN,1
53,2000,ARIZONA,685341,5775.0,59248.0,781652,REPUBLICAN,1
54,2000,ARKANSAS,422768,2781.0,23292.0,472940,REPUBLICAN,1
55,2000,CALIFORNIA,5861203,45520.0,491670.0,4567429,DEMOCRAT,0
...,...,...,...,...,...,...,...,...
352,2020,VIRGINIA,2413568,64761.0,19765.0,1962430,DEMOCRAT,0
353,2020,WASHINGTON,2369612,80500.0,52868.0,1584651,DEMOCRAT,0
354,2020,WEST VIRGINIA,235984,10687.0,2599.0,545382,REPUBLICAN,1
355,2020,WISCONSIN,1630866,NaN,56991.0,1610184,DEMOCRAT,0
356,2020,WYOMING,73491,5768.0,5685.0,193559,REPUBLICAN,1

In [5]:
data2 = Path('blue-team/Resources/CENSUS_00_19.csv')
df2 = pd.read_csv(data2)
df2['STATE_NAME'] = df2['STATE_NAME'].str.upper()
df2

,YEAR,STATE_NAME,STATE_NUMBER,REGION,DIVISION,TOTAL_POPULATION,RACE_WHITE,RACE_BLACK,RACE_OTHER,AGE_0_TO_19,AGE_20_TO_39,AGE_40_TO_59,AGE_60_TO_79,AGE_80_AND_OVER,ORIGIN_HISPANIC,ORIGIN_NOT_HISPANIC,SEX_FEMALE,SEX_MALE
0,2000,ALABAMA,1,South,East South Central,4447207,3195561,1158988,92658,1256218,1250228,1170854,624964,144943,75821,4371386,2300647,2146560
1,2000,ALASKA,2,West,Pacific,626933,446431,22909,157593,208114,185095,180695,46700,6329,25852,601081,302821,324112
2,2000,ARIZONA,4,West,Mountain,5130247,4518143,168952,443152,1518175,1498202,1242614,711472,159784,1295616,3834631,2569382,2560865
3,2000,ARKANSAS,5,South,West South Central,2673293,2183097,420516,69680,760477,734755,686669,392228,99164,86862,2586431,1368647,1304646
4,2000,CALIFORNIA,6,West,Pacific,33871653,26365296,2381132,5125225,10234576,10425088,8469482,3814015,928492,10966547,22905106,16996778,16874875
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1015,2019,VIRGINIA,51,South,South Atlantic,8535519,5922648,1696911,915960,2087426,2343713,2215430,1579134,309816,834422,7701097,4335262,4200257
1016,2019,WASHINGTON,53,West,Pacific,7614893,5977696,331924,1305273,1840306,2203448,1890236,1417638,263265,991721,6623172,3802910,3811983
1017,2019,WEST VIRGINIA,54,South,South Atlantic,1792147,1675122,64610,52415,402473,431297,461667,412728,83982,31162,1760985,904377,887770
1018,2019,WISCONSIN,55,Midwest,East North Central,5822434,5067781,390543,364110,1422095,1505295,1477023,1170814,247207,413208,5409226,2925225,2897209
1019,2019,WYOMING,56,West,Mountain,578759,535371,7467,35921,148172,154264,136658,118025,21640,58609,520150,284029,294730

In [6]:
merged_df = pd.merge(df1, df2, how='inner', left_on=['year','state'], right_on = ['YEAR','STATE_NAME'])
merged_df

,year,state,DEMOCRAT_VOTES,LIBERTARIAN_VOTES,OTHER_VOTES,REPUBLICAN_VOTES,Winning_Party,Outcome,YEAR,STATE_NAME,...,RACE_OTHER,AGE_0_TO_19,AGE_20_TO_39,AGE_40_TO_59,AGE_60_TO_79,AGE_80_AND_OVER,ORIGIN_HISPANIC,ORIGIN_NOT_HISPANIC,SEX_FEMALE,SEX_MALE
0,2000,ALABAMA,692611,5893.0,26595.0,941173,REPUBLICAN,1,2000,ALABAMA,...,92658,1256218,1250228,1170854,624964,144943,75821,4371386,2300647,2146560
1,2000,ALASKA,79004,2636.0,36522.0,167398,REPUBLICAN,1,2000,ALASKA,...,157593,208114,185095,180695,46700,6329,25852,601081,302821,324112
2,2000,ARIZONA,685341,5775.0,59248.0,781652,REPUBLICAN,1,2000,ARIZONA,...,443152,1518175,1498202,1242614,711472,159784,1295616,3834631,2569382,2560865
3,2000,ARKANSAS,422768,2781.0,23292.0,472940,REPUBLICAN,1,2000,ARKANSAS,...,69680,760477,734755,686669,392228,99164,86862,2586431,1368647,1304646
4,2000,CALIFORNIA,5861203,45520.0,491670.0,4567429,DEMOCRAT,0,2000,CALIFORNIA,...,5125225,10234576,10425088,8469482,3814015,928492,10966547,22905106,16996778,16874875
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,2016,VIRGINIA,1981473,118274.0,113562.0,1769443,DEMOCRAT,0,2016,VIRGINIA,...,853664,2090698,2320700,2267814,1444457,286437,770588,7639518,4272260,4137846
251,2016,WASHINGTON,1742718,160879.0,191675.0,1221747,DEMOCRAT,0,2016,WASHINGTON,...,1164612,1805755,2073702,1889067,1279514,246733,910632,6384139,3647256,3647515
252,2016,WEST VIRGINIA,188794,23004.0,11882.0,489371,REPUBLICAN,1,2016,WEST VIRGINIA,...,51239,418241,448148,488917,394444,81273,28717,1802306,925409,905614
253,2016,WISCONSIN,1382536,106674.0,81656.0,1405284,REPUBLICAN,1,2016,WISCONSIN,...,342470,1443520,1491917,1535913,1060788,240490,384921,5387707,2902362,2870266
254,2016,WYOMING,55973,13287.0,15109.0,174419,REPUBLICAN,1,2016,WYOMING,...,34214,153130,159856,143449,107532,20248,57703,526512,285818,298397